In [1]:
import numpy as np
import pandas as pd

In [2]:
data1982_df = pd.read_csv('https://raw.githubusercontent.com/harsh1399/DS2500-Data_Wrangling/main/Module_Assignment-3/NBA_teams_season_statistics_for_1982_83_and_2018_19_seasons/combining-5-1982.csv')

In [3]:
data2018_df = pd.read_csv('https://raw.githubusercontent.com/harsh1399/DS2500-Data_Wrangling/main/Module_Assignment-3/NBA_teams_season_statistics_for_1982_83_and_2018_19_seasons/combining-5-2018.csv')

# 3. Check the packaging

In [4]:
data1982_df.shape

(24, 25)

In [5]:
data2018_df.shape

(31, 25)

In [6]:
data1982_df.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1.0,Denver Nuggets*,82,240.6,48.2,97.5,0.494,0.3,1.5,0.190,...,0.808,14.8,30.8,45.6,28.5,9.6,4.3,18.2,25.5,123.2
1,2.0,Los Angeles Lakers*,82,240.6,48.3,91.6,0.528,0.1,1.2,0.104,...,0.736,15.1,29.7,44.7,30.7,10.3,5.8,19.3,23.5,115.0
2,3.0,San Antonio Spurs*,82,241.2,45.1,89.5,0.504,1.1,3.8,0.305,...,0.765,15.0,31.7,46.7,27.6,8.2,5.7,18.3,25.5,114.3
3,4.0,Kansas City Kings,82,241.2,45.4,91.3,0.497,0.6,2.6,0.237,...,0.727,15.3,29.4,44.7,26.3,9.3,5.0,20.6,29.7,113.8
4,5.0,Dallas Mavericks,82,240.6,44.8,92.1,0.487,0.5,2.3,0.232,...,0.752,15.8,29.0,44.8,27.2,6.7,4.2,16.4,25.2,112.7

In [7]:
data1982_df.tail()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
19,20.0,New York Knicks*,82,241.5,39.9,82.8,0.482,0.4,1.6,0.252,...,0.710,13.2,27.6,40.8,24.8,8.5,4.6,18.4,26.6,100.0
20,21.0,Houston Rockets,82,240.6,40.7,90.8,0.448,0.8,3.3,0.247,...,0.725,14.7,27.6,42.3,23.5,7.9,5.1,19.2,26.0,99.3
21,22.0,Washington Bullets,82,241.5,40.3,86.1,0.468,0.9,2.9,0.295,...,0.705,13.4,29.6,43.0,25.0,8.9,4.9,19.4,23.9,99.2
22,23.0,Cleveland Cavaliers,82,240.9,39.7,85.3,0.465,0.4,1.5,0.250,...,0.721,14.3,29.4,43.7,21.2,7.5,3.5,18.8,27.3,97.1
23,NaN,League Average,82,241.3,43.5,89.7,0.485,0.5,2.3,0.238,...,0.740,14.8,29.6,44.5,25.9,8.9,5.6,19.1,25.6,108.5

In [8]:
data2018_df.head()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1.0,Milwaukee Bucks*,82,241.2,43.4,91.1,0.476,13.5,38.2,0.353,...,0.773,9.3,40.4,49.7,26.0,7.5,5.9,13.9,19.6,118.1
1,2.0,Golden State Warriors*,82,241.5,44.0,89.8,0.491,13.3,34.4,0.385,...,0.801,9.7,36.5,46.2,29.4,7.6,6.4,14.3,21.4,117.7
2,3.0,New Orleans Pelicans,82,240.9,43.7,92.2,0.473,10.3,29.9,0.344,...,0.761,11.1,36.2,47.3,27.0,7.4,5.4,14.8,21.1,115.4
3,4.0,Philadelphia 76ers*,82,241.5,41.5,88.2,0.471,10.8,30.2,0.359,...,0.771,10.9,36.9,47.8,26.9,7.4,5.3,14.9,21.3,115.2
4,5.0,Los Angeles Clippers*,82,241.8,41.3,87.5,0.471,10.0,25.8,0.388,...,0.792,9.7,35.8,45.5,24.0,6.8,4.7,14.5,23.3,115.1

In [9]:
data2018_df.tail()

,Rk,Team,G,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
26,27.0,Chicago Bulls,82,242.7,39.8,87.9,0.453,9.1,25.9,0.351,...,0.783,8.8,34.1,42.9,21.9,7.4,4.3,14.1,20.3,104.9
27,28.0,New York Knicks,82,241.2,38.2,88.3,0.433,10.0,29.5,0.340,...,0.759,10.5,34.3,44.7,20.1,6.8,5.1,14.0,20.9,104.6
28,29.0,Cleveland Cavaliers,82,240.9,38.9,87.6,0.444,10.3,29.1,0.355,...,0.792,10.7,31.9,42.7,20.7,6.5,2.4,13.5,20.0,104.5
29,30.0,Memphis Grizzlies,82,242.4,38.0,84.4,0.450,9.9,28.9,0.342,...,0.772,8.8,33.0,41.8,23.9,8.3,5.5,14.0,22.0,103.5
30,NaN,League Average,82,241.6,41.1,89.2,0.461,11.4,32.0,0.355,...,0.766,10.3,34.8,45.2,24.6,7.6,5.0,14.1,20.9,111.2

In [10]:
data1982_df.value_counts()

Rk    Team                     G   MP     FG    FGA   FG%    3P   3PA  3P%    2P    2PA   2P%    FT    FTA   FT%    ORB   DRB   TRB   AST   STL   BLK  TOV   PF    PTS
1.0   Denver Nuggets*          82  240.6  48.2  97.5  0.494  0.3  1.5  0.190  47.9  96.0  0.499  26.6  32.9  0.808  14.8  30.8  45.6  28.5  9.6   4.3  18.2  25.5  123.2    1
13.0  Golden State Warriors    82  241.2  44.2  91.6  0.483  0.4  1.8  0.227  43.8  89.7  0.488  19.8  26.8  0.737  15.6  27.9  43.5  24.0  10.4  5.2  19.6  26.1  108.6    1
22.0  Washington Bullets       82  241.5  40.3  86.1  0.468  0.9  2.9  0.295  39.5  83.2  0.474  17.7  25.1  0.705  13.4  29.6  43.0  25.0  8.9   4.9  19.4  23.9  99.2     1
21.0  Houston Rockets          82  240.6  40.7  90.8  0.448  0.8  3.3  0.247  39.9  87.5  0.456  17.1  23.6  0.725  14.7  27.6  42.3  23.5  7.9   5.1  19.2  26.0  99.3     1
20.0  New York Knicks*         82  241.5  39.9  82.8  0.482  0.4  1.6  0.252  39.5  81.2  0.486  19.8  27.8  0.710  13.2  27.6  40.8  24.8  8.5   4.6  18.4  26.6  100.0    1
19.0  Atlanta Hawks*           82  241.2  40.9  87.1  0.469  0.5  2.3  0.239  40.3  84.9  0.475  19.3  25.7  0.751  13.9  29.7  43.6  23.7  7.0   8.1  17.4  24.7  101.6    1
18.0  New Jersey Nets*         82  240.3  42.8  87.1  0.492  0.4  1.8  0.201  42.4  85.3  0.498  19.8  28.1  0.705  15.4  29.6  45.0  26.1  11.1  7.2  22.8  26.4  105.8    1
17.0  Milwaukee Bucks*         82  241.8  42.5  87.0  0.489  0.5  2.1  0.219  42.1  84.9  0.495  21.1  28.0  0.753  13.4  30.2  43.6  25.8  8.1   6.5  17.6  26.0  106.6    1
16.0  Phoenix Suns*            82  240.6  43.4  87.3  0.497  0.5  1.9  0.253  42.9  85.4  0.502  19.8  26.7  0.743  13.3  30.7  44.0  28.0  9.1   6.0  18.8  25.1  107.0    1
15.0  Portland Trail Blazers*  82  240.9  42.2  86.9  0.486  0.4  1.8  0.233  41.8  85.0  0.491  22.6  30.6  0.738  14.4  29.0  43.4  24.8  9.1   4.7  18.2  23.9  107.4    1
14.0  San Diego Clippers       82  241.8  44.2  93.1  0.475  0.8  3.2  0.244  43.4  89.9  0.483  19.4  26.8  0.724  17.0  25.7  42.7  25.5  10.0  5.0  19.5  27.9  108.6    1
12.0  Indiana Pacers           82  241.8  45.2  94.2  0.480  0.6  2.9  0.212  44.6  91.3  0.488  17.6  23.3  0.758  15.8  28.0  43.8  26.2  9.2   5.0  18.7  25.4  108.7    1
2.0   Los Angeles Lakers*      82  240.6  48.3  91.6  0.528  0.1  1.2  0.104  48.2  90.4  0.533  18.2  24.8  0.736  15.1  29.7  44.7  30.7  10.3  5.8  19.3  23.5  115.0    1
11.0  Utah Jazz                82  240.9  43.0  89.5  0.480  0.5  2.2  0.240  42.5  87.3  0.486  22.5  29.8  0.756  13.3  31.1  44.4  26.5  9.2   7.3  20.5  24.6  109.0    1
10.0  Seattle SuperSonics*     82  241.5  43.9  88.7  0.494  0.4  1.7  0.210  43.5  87.1  0.500  21.9  30.0  0.730  14.0  31.3  45.4  27.8  8.3   5.3  18.7  24.0  110.0    1
9.0   Chicago Bulls            82  242.7  43.1  89.9  0.480  0.5  2.5  0.215  42.6  87.4  0.487  24.2  32.8  0.737  15.5  30.8  46.3  25.4  8.1   4.9  21.3  26.7  111.0    1
8.0   Philadelphia 76ers*      82  241.8  43.9  88.0  0.499  0.3  1.3  0.229  43.6  86.6  0.503  24.0  32.3  0.742  16.3  31.7  47.9  24.6  9.9   7.0  19.8  24.9  112.1    1
7.0   Boston Celtics*          82  241.8  45.3  92.0  0.492  0.5  2.3  0.210  44.8  89.8  0.499  21.1  28.6  0.737  15.5  30.9  46.4  27.0  9.6   6.4  18.8  25.1  112.1    1
6.0   Detroit Pistons          82  242.4  44.2  92.7  0.477  0.9  3.3  0.265  43.3  89.4  0.484  23.4  31.6  0.742  16.0  30.2  46.2  25.7  8.3   7.0  19.0  25.9  112.7    1
5.0   Dallas Mavericks         82  240.6  44.8  92.1  0.487  0.5  2.3  0.232  44.3  89.8  0.493  22.6  30.0  0.752  15.8  29.0  44.8  27.2  6.7   4.2  16.4  25.2  112.7    1
4.0   Kansas City Kings        82  241.2  45.4  91.3  0.497  0.6  2.6  0.237  44.7  88.7  0.505  22.4  30.9  0.727  15.3  29.4  44.7  26.3  9.3   5.0  20.6  29.7  113.8    1
3.0   San Antonio Spurs*       82  241.2  45.1  89.5  0.504  1.1  3.8  0.305  43.9  85.8  0.512  23.0  30.1  0.765  15.0  31.7  46.7  27.6  8.2   5.7  18.3  25.5  114.3    1
23.0  Cleveland Cavaliers      82  240.9  39.7  85.3  0.465  0.4  1.5  0.250  39.3  83.8  0.469  17.4  24.2  0.721  14.3  29.4  43.7  21.2  7.5   3.5  18.8  27.3  97.1     1
dtype: int64

In [11]:
data2018_df.value_counts()

Rk    Team                     G   MP     FG    FGA   FG%    3P    3PA   3P%    2P    2PA   2P%    FT    FTA   FT%    ORB   DRB   TRB   AST   STL  BLK  TOV   PF    PTS
1.0   Milwaukee Bucks*         82  241.2  43.4  91.1  0.476  13.5  38.2  0.353  29.9  52.9  0.565  17.9  23.2  0.773  9.3   40.4  49.7  26.0  7.5  5.9  13.9  19.6  118.1    1
2.0   Golden State Warriors*   82  241.5  44.0  89.8  0.491  13.3  34.4  0.385  30.8  55.3  0.557  16.3  20.4  0.801  9.7   36.5  46.2  29.4  7.6  6.4  14.3  21.4  117.7    1
29.0  Cleveland Cavaliers      82  240.9  38.9  87.6  0.444  10.3  29.1  0.355  28.6  58.5  0.488  16.4  20.7  0.792  10.7  31.9  42.7  20.7  6.5  2.4  13.5  20.0  104.5    1
28.0  New York Knicks          82  241.2  38.2  88.3  0.433  10.0  29.5  0.340  28.2  58.8  0.479  18.1  23.9  0.759  10.5  34.3  44.7  20.1  6.8  5.1  14.0  20.9  104.6    1
27.0  Chicago Bulls            82  242.7  39.8  87.9  0.453  9.1   25.9  0.351  30.7  62.0  0.496  16.2  20.7  0.783  8.8   34.1  42.9  21.9  7.4  4.3  14.1  20.3  104.9    1
26.0  Miami Heat               82  240.6  39.6  88.0  0.450  11.3  32.4  0.349  28.3  55.6  0.509  15.1  21.7  0.695  11.2  35.1  46.3  24.3  7.6  5.5  14.7  20.9  105.7    1
25.0  Detroit Pistons*         82  242.1  38.8  88.3  0.440  12.1  34.8  0.348  26.7  53.5  0.500  17.3  23.1  0.747  11.4  33.6  45.0  22.5  6.9  4.0  13.8  22.1  107.0    1
24.0  Orlando Magic*           82  241.2  40.4  89.1  0.454  11.4  32.1  0.356  29.0  57.0  0.509  15.0  19.2  0.782  10.0  35.4  45.4  25.5  6.6  5.4  13.2  18.6  107.3    1
23.0  Phoenix Suns             82  242.4  40.1  87.4  0.459  9.6   29.3  0.329  30.5  58.1  0.525  17.6  22.7  0.779  9.1   31.3  40.4  23.9  9.0  5.1  15.6  23.6  107.5    1
22.0  Indiana Pacers*          82  240.3  41.3  87.0  0.475  9.5   25.4  0.374  31.8  61.6  0.517  15.8  21.1  0.752  9.3   33.7  43.0  26.0  8.7  4.9  13.7  19.4  108.0    1
21.0  Dallas Mavericks         82  241.2  38.8  86.9  0.447  12.5  36.6  0.340  26.3  50.2  0.524  18.8  25.3  0.742  10.1  35.2  45.3  23.4  6.5  4.3  14.2  20.1  108.9    1
20.0  Denver Nuggets*          82  240.6  41.9  90.0  0.466  11.0  31.4  0.351  30.9  58.7  0.527  15.8  20.9  0.755  11.9  34.5  46.4  27.4  7.7  4.4  13.4  20.0  110.7    1
19.0  Charlotte Hornets        82  241.8  40.2  89.8  0.448  11.9  33.9  0.351  28.3  55.8  0.507  18.4  23.1  0.797  9.9   33.9  43.8  23.2  7.2  4.9  12.2  18.9  110.7    1
18.0  San Antonio Spurs*       82  241.5  42.3  88.4  0.478  9.9   25.3  0.392  32.4  63.1  0.513  17.2  21.0  0.819  9.2   35.5  44.7  24.5  6.1  4.7  12.1  18.1  111.7    1
17.0  Utah Jazz*               82  240.9  40.4  86.4  0.468  12.1  34.0  0.356  28.3  52.4  0.541  18.8  25.5  0.736  10.0  36.4  46.4  26.0  8.1  5.9  15.1  21.1  111.7    1
16.0  Los Angeles Lakers       82  241.2  42.6  90.5  0.470  10.3  31.0  0.333  32.2  59.6  0.541  16.3  23.3  0.699  10.2  36.4  46.6  25.6  7.5  5.4  15.7  20.7  111.8    1
15.0  Brooklyn Nets*           82  243.7  40.3  89.7  0.449  12.8  36.2  0.353  27.5  53.6  0.513  19.0  25.5  0.745  11.0  35.6  46.6  23.8  6.6  4.1  15.1  21.5  112.2    1
14.0  Boston Celtics*          82  241.2  42.1  90.5  0.465  12.6  34.5  0.365  29.5  56.0  0.527  15.6  19.5  0.802  9.8   34.7  44.5  26.3  8.6  5.3  12.8  20.4  112.4    1
13.0  Minnesota Timberwolves   82  241.8  41.6  91.3  0.456  10.1  28.7  0.351  31.5  62.5  0.504  19.1  24.3  0.787  11.3  33.5  44.8  24.6  8.3  5.0  13.1  20.3  112.5    1
12.0  Atlanta Hawks            82  242.1  41.4  91.8  0.451  13.0  37.0  0.352  28.4  54.8  0.518  17.6  23.4  0.752  11.6  34.5  46.1  25.8  8.2  5.1  17.0  23.6  113.3    1
11.0  Houston Rockets*         82  241.8  39.2  87.4  0.449  16.1  45.4  0.356  23.1  42.0  0.551  19.3  24.4  0.791  10.2  31.9  42.1  21.2  8.5  4.9  13.3  22.0  113.9    1
10.0  Washington Wizards       82  243.0  42.1  90.1  0.468  11.3  33.3  0.341  30.8  56.8  0.543  18.4  23.9  0.768  9.7   32.7  42.4  26.3  8.3  4.6  14.1  20.7  114.0    1
9.0   Sacramento Kings         82  240.6  43.2  93.1  0.464  11.3  29.9  0.378  31.9  63.2  0.504  16.5  22.7  0.726  11.0  34.4  45.4  25.4  8.3  4.4  13.4  21.4  114.2    1
8.0   Toronto Raptors*         82  242.4  42.2  89.1  0.474  12.4  33.8  0.366  29.8  55.3  0.539  17.7  22.0  0.804  9.6   35.6  45.2  25.4  8.3  5.3  14.0  21.0  114.4    1
7.0   Oklahoma City Thunder*   82  242.1  42.6  94.0  0.454  11.4  32.6  0.348  31.3  61.3  0.510  17.8  25.0  0.713  12.6  35.5  48.1  23.4  9.3  5.2  14.0  22.4  114.5    1
6.0   Portland Trail Blazers*  82  242.1  42.3  90.6  0.467  11.0  30.7  0.359  31.3  59.8  0.523  19.0  23.3  0.814  11.8  36.2  48.0  23.0  6.7  5.0  13.8  20.4  114.7    1
5.0   Los Angeles Clippers*    82  241.8  41.3  87.5  0.471  10.0  25.8  0.388  31.3  61.7  0.507  22.6  28.5  0.792  9.7   35.8  45.5  24.0  6.8  4.7  14.5  23.3  115.1    1
4.0   Philadelphia 76ers*      82  241.5  41.5  88.2  0.471  10.8  30.2  0.359  30.7  58.0  0.529  21.2  27.5  0.771  10.9  36.9  47.8  26.9  7.4  5.3  14.9  21.3  115.2    1
3.0   New Orleans Pelicans     82  240.9  43.7  92.2  0.473  10.3  29.9  0.344  33.4  62.4  0.536  17.8  23.4  0.761  11.1  36.2  47.3  27.0  7.4  5.4  14.8  21.1  115.4    1
30.0  Memphis Grizzlies        82  242.4  38.0  84.4  0.450  9.9   28.9  0.342  28.1  55.6  0.505  17.7  23.0  0.772  8.8   33.0  41.8  23.9  8.3  5.5  14.0  22.0  103.5    1
dtype: int64